BODY {
	scrollbar-face-color: #fff0f0;
	scrollbar-shadow-color: #FF9AB4;
	scrollbar-highlight-color: #FF9AB4;
	scrollbar-3dlight-color: #996677;
	scrollbar-darkshadow-color: #996677;
	scrollbar-arrow-color: #996677;
}

.bottun {
	color: #000000;
	background-color: #FF9AB4;
	border-color: #996666;
	border-width:2px;
}

A:link
  {text-decoration:}
A:visited
  {color:#9933ff; text-decoration:}
A:hover
  {color:#ff00ff; text-decoration:underline;}

